{% extends 'base.html.twig' %}

{% block title %}Edytuj marzenie - Panel dyrektora{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Edytuj marzenie: {{ dream.productTitle }}</h1>
            {% if is_granted('ROLE_DIRECTOR') and app.user.orphanage and dream.orphanage.id == app.user.orphanage.id %}
                <a href="{{ path('director_dream_list') }}" class="btn btn-secondary mb-3">Powrót do moich marzeń</a>
            {% else %}
                <a href="{{ path('app_dream_show', {'id': dream.id}) }}" class="btn btn-secondary mb-3">Powrót do szczegółów</a>
            {% endif %}
            
            {{ form_start(form) }}
                {{ form_row(form.productTitle) }}
                {{ form_row(form.productUrl) }}
                {{ form_row(form.productPrice) }}
                {{ form_row(form.productCategory) }}
                {{ form_row(form.description) }}
                {{ form_row(form.quantityNeeded) }}
                {{ form_row(form.isUrgent) }}
                {{ form_row(form.child) }}
                
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
