{% extends 'director/base.html.twig' %}

{% block title %}Dodaj marzenie - Panel dyrektora{% endblock %}

{% block director_body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Dodaj nowe marzenie</h1>
        <a href="{{ path('director_dream_list') }}" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i> Powrót do listy
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.productTitle) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.category) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.productUrl) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.productPrice) }}
                    </div>
                </div>
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.quantityNeeded) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.isUrgent) }}
                    </div>
                </div>
                {{ form_row(form.child) }}
                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-lg"></i> Zapisz marzenie
                    </button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
